<ion-header-bar class="bar bar-header bar-balanced">
    <a href="#/journeyView" class="button icon-left ion-chevron-left button-clear">Back</a>
    <h1 class="title">Next Fastest Train</h1>
</ion-header-bar>
<ion-content>
    <div class="card ">
        <div class="item item-divider">
            From Lancaster
        </div>
        <a href="#/routeDetailsView">
            <div class="row">
                <div class="col col-25">
                    <div class="item item-divider">
                        Dep
                    </div>
                </div>
                <div class="col col-25">
                    <div class="item item-divider">
                        Arr
                        <i class="icon ion-android-arrow-dropdown"></i>
                    </div>

                </div>
                <div class="col col-50">
                    <div class="item item-divider">
                        Destination
                    </div>
                </div>
            </div>
        </a>
        <a href="#/routeDetailsView">
            <div class="row ">
                <div class="col col-25">
                    <div class="item">
                        <p>07:47</p>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="item">
                        <p>08:05</p>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="item">
                        <p>Manchester</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#/routeDetailsView">
            <div class="row ">
                <div class="col col-25">
                    <div class="item">
                        <p>08:28</p>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="item">
                        <p>08:48</p>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="item ">
                        <p>Manchester</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="card ">
        <div class="item item-divider">
            From Preston - 0.5km away
        </div>
        <a href="#/routeDetailsView">
            <div class="row">
                <div class="col col-25">
                    <div class="item item-divider">
                        Dep
                    </div>
                </div>
                <div class="col col-25">
                    <div class="item item-divider">
                        Arr
                        <i class="icon ion-android-arrow-dropdown"></i>
                    </div>

                </div>
                <div class="col col-50">
                    <div class="item item-divider">
                        Destination
                    </div>
                </div>
            </div>
        </a>
        <div class="row ">
            <div class="col col-25">
                <div class="item">
                    <p class="balanced">07:37</p>
                    <p></p>
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    <p class="balanced">07:43</p>
                    <p></p>
                </div>
            </div>
            <div class="col col-50">
                <div class="item">
                    <p class="balanced">Manchester</p>
                    <p class="balanced">5 minutes faster</p>
                </div>
            </div>
        </div>

    </div>
</ion-content>
<div class="bar bar-footer">
    <p class="balanced">Last Updated: 23/04/2015 18:36</p>
</div>
