<ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">My Next Train</h1>
</ion-header-bar>
<ion-content>
    <div class="card">
        <div class="item item-text-wrap item-divider">
            From:
        </div>
        <a href="#/stationFinderView/from">
            <div class="item item-text-wrap item-icon-right">
                <div ng-if="fromStation">
                    {{fromStation.name}}
                </div>
                <div ng-if="!fromStation">
                    Please choose the station you are travelling from
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </a>
        <a href="#/liveDepartureBoardView">
            <div class="item item-text-wrap item-icon-right balanced">
                Live train times
                <i class="icon ion-ios-information-outline"></i>
            </div>
        </a>
    </div>

    <div class="card ">
        <div class="item item-divider">
            To:
        </div>
        <a href="#/stationFinderView/to">
            <div class="item item-text-wrap item-icon-right">
                <div ng-if="toStation">
                    {{toStation.name}}
                </div>
                <div ng-if="!toStation">
                    Please choose destination station
                </div>
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </a>
    </div>

</ion-content>
<a href="#/nextFastestView">
    <div class="bar bar-footer bar-balanced item-icon-right">
        <div class="title">Next Fastest Train</div>
        <i class="icon ion-ios-arrow-right"></i>
    </div>
</a>