<ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Platform Finder</h1>
</ion-header-bar>
<ion-content>
    <div class="list">
        <div class="item item-divider">
            Recent Stations
        </div>
        <a class="item" href="#">
            Lancaster (LAN)
        </a>
        <a class="item" href="#">
            Manchester (MAN)
        </a>
        <a class="item" href="#">
            London (EU)
        </a>
    </div>

    <div class="list">
        <div class="item item-divider">
            All Stations
        </div>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
        </label>
        <a class="item" href="#">
            Lancaster (LAN)
        </a>
        <a class="item" href="#">
            Manchester (MAN)
        </a>
        <a class="item" href="#">
            London (EU)
        </a>
    </div>
</ion-content>
