<ion-header-bar class="bar bar-header bar-balanced">
    <a href="#/liveDepartureBoardView" class="button icon-left ion-chevron-left button-clear">Back</a>
    <h1 class="title">Route Details</h1>
</ion-header-bar>
<ion-header-bar class="bar bar-subheader">
    <h2 class="title">2 changes</h2>
</ion-header-bar>
<ion-content>
    <div class="card ">
        <div class="row">
            <div class="col col-50">
                <div class="item item-divider">
                    Station
                    <i class="icon ion-android-arrow-dropdown"></i>
                </div>
            </div>
            <div class="col col-25">
                <div class="item item-divider">
                    Dep
                </div>
            </div>
            <div class="col col-25">
                <div class="item item-divider">
                    Arr
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="item">
                    London Euston
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    -
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    19:30
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="item">
                    Warrington Bank Quay
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    21:16
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    21:17
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="item">
                    Wigan North Western
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    21:27
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    21:28
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="item">
                    Preston (Lancs)
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    21:40
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    21:43
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="item">
                    Lancaster
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    21:56
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    21:58
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="item">
                    Oxenholme Lake District
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    22:10
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    22:11
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="item">
                    Penrith
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    22:35
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    22:36
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="item">
                    Carlisle
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    22:51
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    22:52
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="item">
                    Glasgow Central
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    -
                </div>
            </div>
            <div class="col col-25">
                <div class="item">
                    00:05
                </div>
            </div>
        </div>
    </div>
</ion-content>