<ion-header-bar class="bar bar-header bar-balanced">
    <a href="#/journeyView" class="button icon-left ion-chevron-left button-clear">Back</a>
    <h1 class="title">Live Departure Board</h1>
</ion-header-bar>
<ion-content>
    <div class="card ">
        <div class="item item-divider">
            From Lancaster
        </div>
        <div class="row">
            <div class="col col-25">
                <div class="item item-divider">
                    Dep
                    <i class="icon ion-android-arrow-dropdown"></i>
                </div>
            </div>

            <div class="col col-50">
                <div class="item item-divider">
                    Destination
                </div>
            </div>
            <div class="col col-25">
                <div class="item item-divider">
                    Platform
                </div>
            </div>
        </div>
        <a href="#/routeDetailsView">
            <div class="row ">
                <div class="col col-25">
                    <div class="item">
                        <p>07:37</p>
                        <p>2 Changes</p>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="item ">
                        <p>Manchester</p>
                        <p class="delayed">Delayed by 3 mins</p>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="item">
                        <p>4</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#/routeDetailsView">
            <div class="row">
                <div class="col col-25">
                    <div class="item departs">
                        <p>07:30</p>
                        <p>1 Change</p>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="item">
                        <p>Manchester</p>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="item">
                        <p>4</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#/routeDetailsView">
            <div class="row ">
                <div class="col col-25">
                    <div class="item">
                        <p>07:47</p>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="item">
                        <p>Manchester</p>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="item">
                        <p>4</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#/routeDetailsView">
            <div class="row ">
                <div class="col col-25">
                    <div class="item">
                        <p>08:28</p>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="item ">
                        <p>Manchester</p>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="item">
                        <p>4</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</ion-content>
<div class="bar bar-footer">
    <p class="balanced">Last Updated: 23/04/2015 18:36</p>
</div>
